.container{
    font-family:fantasy;
    position: absolute;
    left:350px;
    top:190px;
}


#ajout{
    cursor: pointer;
    position: absolute;
    left:750px;
    top:400px;
    width: 120px;
    height: 40px;

}

input{
    width: 400px;
}
   
h1{
    font-family:fantasy;
    position: absolute;
    left:600px;
    top:110px;
}